<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>  
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
        <div class="navbar-nav d-flex flex-row justify-content-around w-100">
            <a class="nav-link active fs-3" href="index.html">Headlines</a>
            <a class="nav-link fs-3" href="#">Search</a>
        </div>
        </div>
      </nav>
      <main class="container">
          <div ng-app="headlines">
      
              <div ng-controller="display">
                  <div class="d-flex justify-content-center mt-5 container-fluid">
                      <select id="countrySelect" class="form-select form-select-lg me-5" ng-model="country_code" ng-change="fetchHead()">
                          <option value="" selected ng-disabled="true"> select country</option>
                          <option ng-repeat="country in countries | orderBy:'name'" value="{{ country.id }}">{{ country.name }}</option>
                      </select>
      
                      <div class="radio">
                          <div class="form-check mb-3">
                              <input class="form-check-input" type="radio" name="info-type" id="overview-radio" checked>
                              <label class="form-check-label ms-4" for="overview-radio">
                                Overview
                              </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="info-type" id="deepview-radio">
                              <label class="form-check-label ms-4" for="deepview-radio">
                                Deepview
                              </label>
                          </div>
                      </div>
                  </div>
                  
                  <hr>

                  <div class="card" style="width: 18rem;" ng-repeat="article in articles">
                      <img src="{{ article.urlToImage }}" class="card-img-top" alt="...">
                      <div class="card-body">
                          <h5 class="card-title">{{ article.title }}</h5>
                          <p class="card-text">{{ article.description }}</p>
                          <a href="{{ article.url }}" class="btn btn-primary">Go somewhere</a>
                      </div>
                  </div>
              </div>
      
          </div>
      </main>
</body>
<script>
var app = angular.module("headlines", []);

app.controller("display", function($scope, $http) {

    $scope.articles = [];

    $scope.countries = [
        { id: 'ch', name: 'Switzerland' },
        { id: 'cn', name: 'China' },
        { id: 'co', name: 'Colombia' },
        { id: 'cu', name: 'Cuba' },
        { id: 'cz', name: 'Czech Republic' },
        { id: 'de', name: 'Germany' },
        { id: 'eg', name: 'Egypt' },
        { id: 'fr', name: 'France' },
        { id: 'gb', name: 'United Kingdom' },
        { id: 'gr', name: 'Greece' },
        { id: 'hk', name: 'Hong Kong' },
        { id: 'hu', name: 'Hungary' },
        { id: 'id', name: 'Indonesia' },
        { id: 'ie', name: 'Ireland' },
        { id: 'il', name: 'Israel' },
        { id: 'in', name: 'India' },
        { id: 'it', name: 'Italy' },
        { id: 'jp', name: 'Japan' },
        { id: 'kr', name: 'South Korea' },
        { id: 'lt', name: 'Lithuania' },
        { id: 'lv', name: 'Latvia' },
        { id: 'ma', name: 'Morocco' },
        { id: 'mx', name: 'Mexico' },
        { id: 'my', name: 'Malaysia' },
        { id: 'ng', name: 'Nigeria' },
        { id: 'nl', name: 'Netherlands' },
        { id: 'no', name: 'Norway' },
        { id: 'nz', name: 'New Zealand' },
        { id: 'ph', name: 'Philippines' },
        { id: 'pl', name: 'Poland' },
        { id: 'pt', name: 'Portugal' },
        { id: 'ro', name: 'Romania' },
        { id: 'rs', name: 'Serbia' },
        { id: 'ru', name: 'Russia' },
        { id: 'sa', name: 'Saudi Arabia' },
        { id: 'se', name: 'Sweden' },
        { id: 'sg', name: 'Singapore' },
        { id: 'si', name: 'Slovenia' },
        { id: 'sk', name: 'Slovakia' },
        { id: 'th', name: 'Thailand' },
        { id: 'tr', name: 'Turkey' },
        { id: 'tw', name: 'Taiwan' },
        { id: 'ua', name: 'Ukraine' },
        { id: 'us', name: 'United States' },
        { id: 've', name: 'Venezuela' },
        { id: 'za', name: 'South Africa' }
    ];


    $scope.fetchHead = function() {
    console.log("In fetchHead")
    var url = 'https://newsapi.org/v2/top-headlines?country='+ $scope.country_code +'&apiKey=84e9019ac272472cab269d40cae1b6f4';
    console.log("API URL:", url); // Debug statement to check the API URL
    $http.get(url)
    .then(function(response) {
        // Handle successful response
        console.log("API Response:", response.data); // Debug statement to check the API response
        $scope.articles = response.data.articles;
        console.log("Articles:", $scope.articles); // Debug statement to check the articles
    })
    .catch(function(error) {
        // Handle error
        console.error('Error fetching data:', error);
    });
}


});
</script>
<script src="script.js"></script>
</html>